<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Product Management System</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

<body>

<div class="container my-2">
    <h1>Product List</h1>

    <a th:href="@{/showNewProductForm}" class="btn btn-primary btn-sm mb-3"> Add Product </a>

    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Product Name</th>
            <th>Brand Id</th>
            <th>Category Id</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${listProduct}">
            <td th:text="${product.productName}"></td>
            <td th:text="${product.brandId}"></td>
            <td th:text="${product.categoryId}"></td>
            <td> <a th:href="@{/showFormForUpdate/{productId}(id=${product.productId})}" class="btn btn-primary">Update</a>
                <a th:href="@{/deleteProduct/{productId}(id=${product.productId})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>

</html>